#projeto{
    margin: auto;
    margin-top: 160px;
    font-size: 35px;
    text-align: center;
    background-color: black;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
    padding-bottom: 25px;
    width: 1110px;
}

#carouselExampleIndicators{
    width: 1110px;
    margin: auto;
    margin-top: 0px;
    padding-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}

.carousel-item >img{
    margin: auto;
    margin-top: 40px;
    box-shadow: 1px 1px 25px rgb(0, 0, 0);
    width: 700px;
    border-radius: 10px;
}

h5, p{
    text-align: center;
    padding: 30px;
    padding-bottom: 0px;
}