footer{
    border-radius: 20px;
    width: 1120px;
    margin: auto;
    margin-top: 150px;

}

footer>h1{
    background-color: black;
    text-align: center;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
}

footer>ul{
    list-style: none;
    padding: 20px;
    padding-bottom: 30px;
    display: flex;
}

a>img{
    width: 110px;
    cursor: pointer;
    margin-left: 40px;
    transition: 0.5s;
    padding: 10px;
    border-radius: 10px;
}

a>img:hover{
    background-color: rgb(90, 140, 216);
    box-shadow: 1px 1px 20px black;
}