header>nav{
    list-style: none;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
}

header>nav>li{
    display: inline;
    color: white;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    margin: 40px;
    font-size: 25px;
}

header>nav>li:hover{
    color: rgb(252, 211, 76);
    transition-duration: 0.5s;
}
