main{
    color: aliceblue;
    margin: 100px 180px 100px 180px;
    height: 78vh;
}

#apresentacao{
    width: 40vw;
    margin-right: 410px;
    font-size: 40px;
}

strong{
    color: var(--amarelo);
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    transition: 0.5s;
}

strong:hover{
    color: rgb(73, 142, 247);
}

.container{
    display: flex;
}

#foto>img{
    cursor: pointer;
    border-radius: 100%;
    background-color: var(--amarelo);
    padding: 3px;
    transition: 0.5s;
    width: 380px;
    margin-top: -50px;
}

#foto>img:hover{
    background-color: rgb(73, 142, 247);
    box-shadow: 1px 1px 20px rgb(240, 252, 188);
}

#curriculo{
    background: linear-gradient(to bottom, var(--amarelo), rgb(255, 203, 92));
    color: white;
    text-align: center;
    text-shadow: black 1px 1px 3px;
    padding: 4px 56px 4px 56px;
    font-size: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 500;
}

#contato{
    background-color: white;
    color: var(--amarelo);
    text-align: center;
    text-shadow: black 1px 1px 2px;
    padding: 4px 106px 4px 106px;
    font-size: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 500;
}

#curriculo:hover, #contato:hover{
    opacity: 0.95;
    transition-duration: 0.5s;
}

#container2{
    margin-top: 120px;
    text-align: center;
}

#container2>#sobre>h1{
    font-size: 40px;
    margin-bottom: 30px;
}

#container2>#sobre>p{
    font-size: 30px;
    text-align: justify;
}