main{
    color: aliceblue;
    margin: 70px;
}

strong{
    color: rgb(255, 231, 98);
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    transition: 0.5s;
}

strong:hover{
    color: rgb(73, 142, 247);
}

.container{
    display: flex;
}

#foto>img{
    cursor: pointer;
    border-radius: 100%;
    background-color: rgb(255, 231, 98);
    padding: 3px;
    transition: 0.5s;
    width: 150px;
    margin-left: 300px;
}

#foto>img:hover{
    background-color: rgb(73, 142, 247);
    box-shadow: 1px 1px 20px black;
}

se
