*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: "Open Sans";
}

body{
    background: linear-gradient(to bottom, rgb(48, 48, 48), rgb(56, 56, 56));
    height: 100%;
}

:root{
    --amarelo: rgb(255, 231, 98);
}

a{
    text-decoration: none;
    color: white;
}
