@media (max-width: 1940px){
    .proj:hover{
        transition-duration: 0.2s;
        cursor: pointer;
        width: 350px;
        height: 350px;
    }
    
    .proj:hover img{
        transition-duration: 0.4s;
        cursor: pointer;
        width: 350px;
        height: 250px;
    }
    
    .proj>h4{
        margin-top: 0px;
        font-size: 30px;
    }
    
    .proj>p{
        margin-top: 10px;
        font-size: 20px;
    }
    
    .proj:hover h4{
        transition-duration: 0.6s;
        font-size: 40px;
        cursor: pointer;
        margin-bottom: 35px;
    }
    
    .proj:hover p{
        transition-duration: 0.6s;
        font-size: 30px;
        cursor: pointer;
    }
    
    .proj:hover .linha{
        transition-duration: 0.4s;
        width: 330px;
        height: 4px;
    }
}

@media (max-width: 1700px){
    .proj:hover{
        transition-duration: 0.2s;
        cursor: pointer;
        width: 300px;
        height: 280px;
    }
    
    .proj:hover img{
        transition-duration: 0.4s;
        cursor: pointer;
        width: 300px;
        height: 190px;
    }
    
    .proj>h4{
        margin-top: 0px;
        font-size: 25px;
    }

    .proj:hover h4{
        transition-duration: 0.6s;
        font-size: 30px;
        cursor: pointer;
        margin-bottom: 35px;
    }
    
    .proj:hover p{
        transition-duration: 0.6s;
        font-size: 25px;
        cursor: pointer;
    }
    
    .proj:hover .linha{
        transition-duration: 0.2s;
        width: 300px;
        height: 4px;
    }
}

@media (max-width: 1630px){
    .proj:hover{
        transition-duration: 0.2s;
        cursor: pointer;
        width: 280px;
        height: 250px;
    }
    
    .proj:hover img{
        transition-duration: 0.4s;
        cursor: pointer;
        width: 280px;
        height: 170px;
    }
    
    .proj>h4{
        margin-top: 0px;
        font-size: 23px;
    }

    .proj:hover h4{
        transition-duration: 0.6s;
        font-size: 27px;
        cursor: pointer;
        margin-bottom: 35px;
    }
    
    .proj:hover p{
        transition-duration: 0.6s;
        font-size: 22px;
        cursor: pointer;
    }
    
    .proj:hover .linha{
        transition-duration: 0.2s;
        width: 290px;
        height: 4px;
    }
}


@media (max-width: 1590px){
    
    .linha{
        width: 200px;
        height: 3px;
    }

    .proj{
        width: 200px;
        height: 180px
    }
    
    .proj>img{
        width: 200px;
    }
    
    .proj:hover{
        transition-duration: 0.2s;
        cursor: pointer;
        width: 250px;
        height: 250px;
    }
    
    .proj:hover img{
        width: 250px;
        height: 150px;
    }
    
    .proj>h4{
        margin-top: 0px;
        font-size: 25px;
    }
    
    .proj>p{
        margin-top: 10px;
        font-size: 15px;
    }
    
    .proj:hover h4{
        transition-duration: 0.6s;
        font-size: 30px;
        cursor: pointer;
        margin-bottom: 35px;
    }
    
    .proj:hover p{
        transition-duration: 0.6s;
        font-size: 20px;
        cursor: pointer;
    }
    
    .proj:hover .linha{
        transition-duration: 0.4s;
        width: 230px;
        height: 3px;
    }
    
}

@media (max-width: 450px){
    /** resolução geral da página **/
    body{
        font-size: 21px;
    }

    h1{
        font-size: 33px;
    }
    
    h2{
        font-size: 28px;
        background-color: #fa8907;
        border-radius: 20px 20px 0px 0px;
        margin-top: -10px;
        margin-bottom: 38px;
        text-shadow: 5px 5px 20px black;
        box-shadow: 9px 11px 6px  black;
    }

/** ----resolução da parte do projeto---- **/
    #linha1{
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: -40px;
    }
    
    .proj{
        margin-top: 5px;
    }
    .proj:hover{
        transition-duration: 0.2s;
        cursor: pointer;
        width: 200px;
        height: 180px;
    }
    
    .proj:hover img{
        transition-duration: 0.4s;
        cursor: pointer;
        width: 200px;
        height: 112px;
    }
    
    .proj>h4{
        margin-top: 0px;
        font-size: 25px;
    }
    
    .proj>p{
        margin-top: 10px;
        font-size: 19px;
    }
    
    .proj:hover h4{
        font-size: 25px;
        cursor: pointer;
        margin-bottom: 32.1px;
    }
    
    .proj:hover p{
        font-size: 19px;
        cursor: pointer;
    }
    
    .proj:hover .linha{
        margin-top: -29px;
        width: 200px;
        height: 3px;
    }

    .foto_perfil{
        padding-top: 110px;
        width: 250px;
    }

    nav{
        background-color: #08172E;
        box-shadow: 10px 8px 8px black;
        color: white;
        padding: 15px;
        font-weight: 500;
        position: fixed;
        width: 55%;
        margin: center;
    }
}