body{
    background-image: linear-gradient(90deg,#08172E, #213c66);
    color: white;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin:auto;
    text-align: center;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
    background-color: #fa8907;
    border-radius: 20px 20px 0px 0px;
    margin-top: -10px;
    text-shadow: 5px 5px 20px black;
}

strong{
    color: #fa8907;
}

strong:hover{
    color: #f3a041ee;
}

.sobre{
    text-align: justify;
    background-color: #08172E;
    box-shadow: 10px 8px 8px black;
    border-radius: 0px 0px 20px 20px;
    padding: 15px;
    margin-top: -34px; 
}

main{
    width: 65%;
    margin: auto;
    text-shadow: 5px 5px 20px black;
}

a{
    color: #fa8907;
    text-decoration: none;
}

a:visited
{
    color:#f3a041ee;
}

a:hover{
    color: burlywood;
}

ul{
    text-align: left;
    background-color: #08172E;
    box-shadow: 10px 8px 8px black;
    padding-left:-5px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0px 0px 20px 20px;   
    word-break: break-all;
    margin-top: -34px;
 }

nav{
background-color: #08172E;
box-shadow: 10px 8px 8px black;
color: white;
padding: 15px;
font-weight: 500;
position: fixed;
width: 63.5%;
}

.foto_perfil{
    margin: auto;
    padding-top: 150px;
    width: 300px;
}
